@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Ubuntu:400,700|Fredoka+One|Kaushan+Script|Permanent+Marker');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
  height: 100%;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  background: #eeeeee;
}

#root{
  min-height: 100vh;
  position: relative;


    header {
        background: #d8bfd8;
        width: 100%;
        border-bottom: 1px solid #363851;
        min-height: 100px;
        .brand {
            padding: 30px 60px;
            float: left;
            text-transform: uppercase;
            font-size: 26px;
            letter-spacing: 5px;
            font-family: 'Fredoka One', cursive, sans-serif;
            font-weight: 900;
        }
        nav {
          float: right;
          padding: 40px 60px 40px 0;
            ul {
                list-style: none;
                display: inline-flex;
                li{
                  padding: 0 10px 0 10px;
                }
            }
        }
    }
      .landingPage{
        background-image: url('../assets/bg.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .welcome {
          padding: 400px 0 0 0;
          text-align: center;
          min-height: 100vh;
          h1 {
            color: #fff;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: 900;
            font-family: 'Fredoka One', cursive, sans-serif;
            font-size: 3.25rem;
            text-shadow: 3px 3px 1px #181818;
          }
          p {
          color: #fff;
          letter-spacing: 5px;
          text-transform: uppercase;
          text-shadow: 3px 3px 1px #181818;
          }
        }
      }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1.5rem;
      background: #363851;
      margin-top: 100px;
      p {
          text-align: center;
          color: #fff;
          font-size: 14px;
      }
    }

    .form-wrapper {
      padding: 2%;
      background: #F7F7F7;
      border-radius: 3px;
      width: 40%;
      margin: 170px auto;
      border-bottom: 1px solid #bebebe;
      box-shadow: 1px 4px 10px #bebebe;

      .form-inner {
        margin: 10px;
        padding-top: 10px;
      }
  }

  .request-wrapper {
    width: 70%;
}




.form-title {
  border-bottom: 1px solid #d8bfd8;
  text-transform: uppercase;
  color: #363851;
  font-weight: 900;
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
}

    /* Media section */
    @media only screen and (max-width: 900px) {
      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .brand {
          font-size: 22px;
        }
        nav {
          padding: 20px 0 !important;
            ul {
                padding: 0;
                list-style: none;
            }
        }
      }
      .landingPage{
        .welcome {
          padding: 200px 0 0 0;
          h1 {
            letter-spacing: 2px;
            font-size: 2rem;
          }
          p {
          letter-spacing: 2px;
          }
        }
      }
      .form-wrapper, .request-wrapper {
        width: 95%;
      }

      .form-title {
        font-size: 1em;
      }
    }

}




a {
    text-decoration: none;
    color: #363851;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.flex {
    display: flex;
}

.flex .col {
    flex: 1;
    margin: 10px;
}


.card {
    max-width: 70%;
    margin: auto;
    padding-bottom: 5%;

}

.card .table {
    color: #363851;
    padding: 5px 0;
}

.card .table tr td {
    padding: 10px;
    border: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}





input[type="text"],
input[type="password"],
input[type="email"],
textarea, select {
    margin: 10px 0;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #d8bfd8;
    padding: 8px 5px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    background: #fff;
    outline: none;
    border: 1px solid #363851;
}

input[type="submit"] {
    margin: 10px 0;
}

::placeholder {
    color: #c3c3c3;
    font-size: 12px;
    padding-left: 2%;
}

.input-group p {
    text-align: center;
}

.input-group a {
    text-decoration: none;
    text-align: center;
    color: #363851;
    font-size: 1.05em;

}

label {
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

.btn-landing {
    transition: all 500ms;
    border-radius: 3px;
    background: transparent;
    padding: 0.625rem 2.85rem;
    border: 1px solid #fff;
    color: white;
}

.btn-landing:hover {
    border-radius: 10px;
    padding: 0.8rem 3.25rem;
    font-size: 16px;
}

ul.admin-btn {
    text-align: center;
    list-style: none;
}

.admin-btn li {
    margin: 20px auto;
    display: inline-block;
}

.btn {
    transition: all 500ms;
    border-radius: 3px;
    background: transparent;
    padding: 0.5rem 0.85rem;
    color: #363851;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    margin: 10px 0;
}

.btn-sm {
    cursor: pointer;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    padding: 0.35rem 0.85rem;
    color: #363851;
}

.btn-primary {
    background: #363851;
    color: white;
}

.btn-primary:hover {
    background: #17192a;
}

.btn-edit {
    background: #d8bfd8;
    color: #363851;
}

.btn-edit:hover {
    background: #aa91aa;
    color: #363851;
}

.btn-delete:hover {
    background: #7e3b3b;
}

.btn-delete {
    color: white;
    background: #b16464;
}

.btn-default:hover {
    background: #111130;
    color: #fff;
}

.btn-default {
    background: #363851;
    color: #fff;
    border: 1px solid transparent;
}

.btn-approve {
    background: #aef0b2;
    color: #363851;
}

.btn-approve:hover {
    background: #9ad99e;
    color: #363851;
}


h3 {
    text-transform: uppercase;
    color: #363851;
    border-bottom: 1px solid #d8bfd8;
    margin: 5px;
    padding: 15px 0;
    font-size: 20px;
}

.card .table {
    text-align: left;
}

.table {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 10px 0 15px;
    padding: 10px;
    border-bottom: 1px solid #d8bfd8;
}

td.approved {
    background: #aef0b2;
    text-align: center;
}

td.pending {
    background: #bebebe;
    text-align: center;
}

td.resolved {
    background: #d8bfd8;
    text-align: center;
}

td.disapproved {
    background: #b16464;
    text-align: center;
    color: white;
}

.table th {
    border-bottom: 1px solid #d8bfd8;
    padding: 5px 5px 5px 0;
    background: #eeeeee;
}

.table tr td {
    padding: 5px 0 5px;
}

.table td a {
    margin: 3px;
    display: inline-block;
}

.table th, td {
    border-bottom: 1px solid #ddd;
}

.pagination {
    list-style: none;
    overflow: hidden;
    margin: 10px 0;
}

.pagination li {
    display: block;
    float: left;
    margin: 10px 0;
    padding: 2px 8px;
    border: 1px solid #363851;
}

.pagination li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination li:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.pagination li.active {
    background: #363851 !important;
}

.pagination li.active a {
    color: #fff;
}

.alert {
    transition: all 500ms;
    text-align: center;
    display: none;
    margin: 15px;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: capitalize
}

.alert-warning {
    color: #363851;
    background: #f5dcd2;
    border: 1px solid #b74138;
}

.alert-success {
    color: #363851;
    background: #aef0b2;
    border: 1px solid #41b737;
}

.error {
    display: none;
    color: #b23435;
    font-weight: bold;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

/** Media queries **/
@media only screen and (max-width: 900px) {

    .table-res {
        overflow-x: auto;
    }

    .form-wrapper {
        width: 90%;
    }

    .card {
        max-width: 100%;
    }

    .request-wrapper {
        width: 100%;
    }

    .landing h1 {
        font-size: 2.85rem;
    }

    .wrapper {
        width: 90%;
    }

    .details div a .btn {
        display: block;
        text-align: center;
    }

    .flex {
        display: block;
    }

    .flex .col {
        width: 100%;
        margin: 0 0 10px 0;
    }
}
